* {
  margin: 1px;
  padding: 2px;
  box-sizing: border-box; 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  text-align: center; 
  color: rgb(56, 56, 56);
  background-color: rgb(233, 233, 233); 
  background-size: cover;
  background-position: center; 
}

.container {
  background-color: rgba(255, 255, 255, 1); 
  padding: 30px; 
  color: rgb(0, 0, 0); 
  width: 80%; 
  margin: 20px auto; 
  border-radius: 12px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}

.error-banner {
  background-color: rgba(255, 204, 204, 0.9); 
  color: rgb(0, 0, 0); 
  padding: 15px; 
  border-radius: 6px; 
  margin-bottom: 20px; 
  font-weight: bold; 
}

.error-details {
  list-style-type: disc;
  margin-left: 20px;
  text-align: left; 
}

.loading {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem; 
  color: rgb(34, 34, 34); 
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-section, .right-section {
  flex: 1;
  padding: 0 20px; 
}

.center-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}

.component-container {
  background-color: rgba(255, 255, 255, 0.95); 
  border-radius: 12px; 
  padding: 35px; 
  margin: 10px 0; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.component-title {
  font-size: 1.75rem; 
  margin: 0; 
  padding: 8px 0; 
  color: rgb(34, 34, 34); 
  font-weight: bold; 
  text-align: left; 
  border-bottom: 2px solid rgba(34, 34, 34, 0.2); 
}

.stock-link {
  text-decoration: none; 
  color: rgb(34, 34, 34); 
  padding: 3px; 
}

.stock-link:hover {
  outline: 2px solid rgb(0, 0, 0); 
  border-radius: 2px; 
}

.stock-item {
  margin: 10px 0; 
}

input {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  transition: border-color 0.3s; 
}

input:focus {
  border-color: #000000; 
}

button {
  width: 100%; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  color: #fff; 
  background-color: #2b3035; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-bottom: 10px; 
}

button:hover {
  background-color: #060606; 
}

button:disabled {
  background-color: #6c757d; 
  cursor: not-allowed; 
}

.underline {
  text-decoration: underline; 
  text-decoration-color: rgb(34, 34, 34); 
  text-decoration-thickness: 2px; 
}

.wider-portfolio {
  width: 100%; 
  max-width: 800px; 
  padding: 10px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.transaction-history {
  max-width: 800px; 
}

.loading-message {
  text-align: center;
  margin: 20px 0; 
}

.table-auto {
  border: 1px solid #ddd; 
}

.table-auto th {
  background-color: #333333; 
  color: #f4f4f4; 
}

.table-auto td {
  border: 1px solid #ddd;
}

.latest-news a {
  color: black; 
  text-decoration: none; /* Optional: Remove underline from link */
}

.latest-news a:hover {
  text-decoration: underline; /* Optional: Add underline on hover */
}
